[submodule "external/mit/musl"]
	path = external/mit/musl
	url = https://github.com/OxideBSD/musl-oxidebsd.git
[submodule "external/gpl2/busybox"]
	path = external/gpl2/busybox
	url = https://github.com/Pomsky2011/busybox-oxidebsd.git
[submodule "external/gpl2/posixtestsuite"]
	path = external/gpl2/posixtestsuite
	url = https://github.com/Pomsky2011/posixtestsuite.git
	branch = oxidebsd
[submodule "external/bsd/limine"]
	path = external/bsd/limine
	url = https://github.com/Pomsky2011/limine-oxidebsd.git
	branch = oxidebsd
[submodule "external/gpl2/doomgeneric"]
	path = external/gpl2/doomgeneric
	url = https://github.com/Pomsky2011/doomgeneric-oxidebsd.git
	branch = oxidebsd
[submodule "external/mit/rust"]
	path = external/mit/rust
	url = https://github.com/OxideBSD/rust-oxidebsd.git
	branch = oxidebsd
[submodule "external/apache2/llvm"]
	path = external/apache2/llvm
	url = https://github.com/OxideBSD/llvm-project-oxidebsd.git
	branch = oxidebsd
